/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/opcenter_excr_mx_core_2510_1_0_0001.mpr.bak
/opcenter_excr_mx_core_2510_1_0_0001.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
/.svn/
/mprcontents/mprjournal*
