@font-face {
    font-family: 'Siemens Sans Global';
    src: url('SiemensSansGlobal-Regular.woff2') format('woff2'),
        url('SiemensSansGlobal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Siemens Sans Global';
    src: url('SiemensSansGlobal-Bold.woff2') format('woff2'),
        url('SiemensSansGlobal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Siemens Sans Global';
    src: url('SiemensSansGlobal-BoldItalic.woff2') format('woff2'),
        url('SiemensSansGlobal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Siemens Sans Global';
    src: url('SiemensSansGlobal-Italic.woff2') format('woff2'),
        url('SiemensSansGlobal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

