@import '../../../../theme/web/custom-variables';

/*UX Policies class - Required apply into widgets class manually*/
.timeNode{

    li{
        
        padding: 5px;
        border: 1px solid #DCDCDC;
        margin-top: 8px;
        border-radius: 3px;
        
    }
}