/*Widget - Label, Text, Span*/
/*UX Policies class - Required apply into widgets class manually*/

/*Typical Use: Icon labels*/
.ux-typography-scaleminus1{
    text-align: left;
    font: normal normal normal 10px/13px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: General content*/
.ux-typography-scalezero{
    text-align: left;
    font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Tabs & UI elements*/
.ux-typography-scaleplus1{
    text-align: left;
    font: normal normal normal 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Page titles*/
.ux-typography-scaleplus2{
    text-align: left;
    font: normal normal normal 17px/23px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Header titles and breadcrumbs*/
.ux-typography-scaleplus3{
    text-align: left;
    font: normal normal normal 21px/27px Segoe UI !important;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Splash screen titles*/
.ux-typography-scaleplus4{
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Content Emphasized Titles*/
.ux-typography-scaleplus5{
    text-align: left;
    font: normal normal normal 30px/39px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Content Emphasized Titles*/
.ux-typography-scaleplus6{
    text-align: left;
    font: normal normal normal 36px/47px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/*Typical Use: Content Emphasized Titles*/
.ux-typography-scaleplus7{
    text-align: left;
    font: normal normal normal 43px/57px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

/* Typical Use: Panel/Section Titles (Read-Only Accordion)*/
.ux-typography-scaleplus8{
    text-align: left;
    font: normal normal 600 17.28px/23px Segoe UI !important;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}