@import '../../../theme/web/custom-variables';


/* Widget Progress Loader */

/* Refer UI/UX policy guideline for "Loading Indicators" */

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #005F87;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    opacity: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
